---
- name: Install openssh
  apt:
    name:
      - openssh-client
      - openssh-server
    state: present

- name: Install networking tools
  apt:
    name:
      - curl
      - wget
      - ca-certificates
      - gnupg
      - ufw
      - net-tools
      - dnsutils
      - iputils-ping
      - traceroute
      - whois
    state: present

- name: Add netbird apt signing key
  get_url:
    url: https://pkgs.netbird.io/debian/public.key
    dest: /usr/share/keyrings/netbird-archive-keyring.asc
    mode: '0644'

- name: Add netbird apt repository
  apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/netbird-archive-keyring.asc] https://pkgs.netbird.io/debian stable main"
    filename: netbird
    state: present

- name: Install netbird
  apt:
    name: netbird
    state: present
    update_cache: true
