---
- name: Install development libraries
  apt:
    name:
      - libssl-dev
      - libffi-dev
      - zlib1g-dev
      - libreadline-dev
      - libbz2-dev
      - libsqlite3-dev
      - libncurses-dev
      - libxml2-dev
      - libxslt1-dev
      - libyaml-dev
    state: present
